:root {
    --font-title: 'Manufacturing Consent', sans-serif;
    --font-body: 'Merriweather', serif;
    --color-text: #e4e0d7;
    --color-background: #1B1A1A; /*#888888;*/
    --color-accent: #D70074;
    --color-accent-light: #8B004B;
    --color-border: #3a3a3a;

    /* Shadows */
    --shadow-strong: 0 0 15px rgba(179, 0, 89, 0.4);
}

/* GENERAL */
*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

:target {
    scroll-margin-top: 80px;
}

body {
    font-family: var(--font-body);
    background-color: var(--color-background);
    color: var(--color-text);
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: var(--color-text);
    text-decoration: none;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

a:hover {
    color: var(--color-accent);
    text-shadow: var(--shadow-strong);
    font-weight: bold;
    outline: 2px dashed var(--color-accent);
    outline-offset: 4px;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.8s ease-out forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* NAVBAR */
#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3.5rem;
    background-color: var(--color-accent-light);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#navbar .logo img {
    width: 60px;
}

#navbar .nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
}

#navbar .nav-links li a {
    font-size: 1.6rem;
    font-family: var(--font-body);
    font-weight: 700;
}
a:hover {
    color: var(--color-border);
    outline: 2px dashed var(--color-border);
    outline-offset: 4px;
}

/* WELCOME SECTION */
#welcome-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - 6rem);
    padding: 2rem 10rem;
    background-color: var(--color-background);
    color: var(--color-text);
}

#welcome-section h1 {
    font-family: var(--font-title);
    font-size: 8rem;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 2rem;
}

#welcome-section h2 {
    font-family: var(--font-body);
    font-size: 2.2rem;
    margin-bottom: 2rem;
    text-align: left;
    color: var(--color-accent);
}

.skill-icons {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    justify-content: space-evenly;
}

.social-icons {
    display: flex;
    gap: 5rem;
    margin-bottom: 2rem;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 400px;
    margin-top: 5rem;
}

.description p {
    font-family: var(--font-body);
    font-size: 1.8rem;
    line-height: 1.5;
    color: var(--color-text);
}

.skill-icons svg {
    width: 50px;
    height: 50px;
}

.social-icons svg {
    width: 50px;
    height: 50px;
}

.skill-icons svg,
.social-icons svg {
    transition: transform 0.3s ease;
}

.skill-icons svg:hover,
.social-icons svg:hover {
    transform: scale(1.2);
}

/* Left Side (Text and Icons) */
#left-side {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}

#right-side {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome-section h1 span {
    font-size: 4rem;
}

/* ABOUT ME SECTION */
#about-me {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 10rem;
    background-color: var(--color-background);
    color: var(--color-text);
}

#about-me h1 {
    font-family: var(--font-title);
    color: var(--color-accent);
    font-size: 4rem;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 5rem;
}

#about-me .profile-image {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

#about-me .profile-image img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    box-shadow: var(--shadow-strong);
}

#about-me .about-me-text {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    max-width: 600px;
    margin-left: 2rem;
    margin-top: 5rem;
}

#about-me p {
    font-family: var(--font-body);
    font-size: 1.4rem;
    line-height: 2;
    color: var(--color-text);
}

/* SKILLS SECTION */
#skills {
    align-items: center;
    padding: 2rem 10rem;
    background-color: var(--color-background);
    color: var(--color-text);
}

#skills h2 {
    font-family: var(--font-title);
    color: var(--color-accent);
    font-size: 3.8rem;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 5rem;
}

#skills .skills-container {
     display: flex;
     justify-content: space-between;
     gap: 20px;
     flex-wrap: wrap;
 }

#skills .skill-card {
    flex: 1;
    min-width: 250px;
    background-color: var(--color-background);
    padding: 30px;
    border-radius: 12px;
    box-shadow: var(--shadow-strong);
    text-align: center;
}

.skill-card h3 {
    font-family: var(--font-body);
    font-size: 2.2rem;
    margin-bottom: 30px;
    color: var(--color-accent-light);
    font-weight: bold;
}

.skill-card ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.skill-card ul li {
    font-family: var(--font-body);
    font-size: 1.8rem;
    line-height: 1.6;
    color: var(--color-text);
    margin-bottom: 12px;
    transition: transform 0.3s ease;
}

.skill-card ul li:hover {
    transform: scale(1.05);
    color: var(--color-accent-light);
}

/* EXPERIENCE SECTION */

#experience {
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    padding: 2rem 10rem;
    background-color: var(--color-background);
    color: var(--color-text);
}

#experience h2 {
    font-family: var(--font-title);
    color: var(--color-accent);
    font-size: 3.8rem;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 5rem;
}

.experience-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.timeline {
    background: var(--color-background);
    margin: 20px auto;
    padding: 20px;
}

.card {
    position: relative;
    max-width: 600px;
}

/* setting padding based on even or odd */
.card:nth-child(odd) {
    padding: 30px 0 30px 30px;
}
.card:nth-child(even) {
    padding: 30px 30px 30px 0;
}
/* Global ::before */
.card::before {
    content: "";
    position: absolute;
    width: 50%;
    border: solid var(--color-border);
}

/* Setting the border of top, bottom, left */
.card:nth-child(odd)::before {
    left: 0px;
    top: -4.5px;
    bottom: -4.5px;
    border-width: 5px 0 5px 5px;
    border-radius: 50px 0 0 50px;
}

/* Setting the border of top, bottom, right */
.card:nth-child(even)::before {
    right: 0;
    top: 0;
    bottom: 0;
    border-width: 5px 5px 5px 0;
    border-radius: 0 50px 50px 0;
}

/* Removing the border if it is the first card */
.card:first-child::before {
    border-top: 0;
    border-top-left-radius: 0;
}

/* Removing the border if it is the last card  and it's odd */
.card:last-child:nth-child(odd)::before {
    border-bottom: 0;
    border-bottom-left-radius: 0;
}

/* Removing the border if it is the last card  and it's even */
.card:last-child:nth-child(even)::before {
    border-bottom: 0;
    border-bottom-right-radius: 0;
}

.info {
    display: flex;
    flex-direction: column;
    background: var(--color-background); /*#450025;*/
    color: var(--color-text);
    border: 2px dotted var(--color-accent);
    box-shadow: var(--shadow-strong);
    border-radius: 10px;
    padding: 20px;
}

.info h3 {
    font-family: var(--font-body);
    font-size: 2.2rem;
    color: var(--color-accent-light);
    margin-bottom: 10px;
    font-weight: bold;
    /*position: relative;*/
}

.info h3::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: var(--color-border);
    border-radius: 999px;
    border: 3px solid var(--color-accent-light);
    top: 50%;
    transform: translateY(-50%) translateX(-8px);
}

.card:nth-child(even) > .info > .title {
    text-align: right;
}

.card:nth-child(odd) > .info > h3::before {
    left: 3px;
    top: 50px;
}

.card:nth-child(even) > .info > h3::before {
    left: calc(100% - 3px);
    top: 50px;
}

.info p {
    font-family: var(--font-body);
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--color-text);
}

.info ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.info ul li {
    font-family: var(--font-body);
    font-size: 1.6rem;
    line-height: 1.8;
    color: var(--color-text);
    margin-bottom: 8px;
}

.info .year {
    font-family: var(--font-title);
    font-size: 2rem;
    color: var(--color-accent-light);
    margin: 10px;
    text-align: right;
    font-weight: bold;
    padding-right: 20px;
}

.info .company {
    font-family: var(--font-body);
    font-size: 1.8rem;
    font-weight: bolder;
    color: var(--color-border);
    margin-bottom: 5px;
    padding-left: 20px;
}

/* PROJECTS SECTION */

#projects {
    padding: 2rem 10rem;
    background-color: var(--color-background);
    color: var(--color-text);
}

#projects h2 {
    font-family: var(--font-title);
    color: var(--color-accent);
    font-size: 3.8rem;
    text-align: center;
    margin-bottom: 5rem;
}

#projects .projects-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.project-card {
    flex: 1;
    min-width: 250px;
    background-color: var(--color-background);
    padding: 30px;
    border-radius: 12px;
    box-shadow: var(--shadow-strong);
    text-align: center;
}

.project-card h3 {
    font-family: var(--font-body);
    font-size: 2.2rem;
    margin-bottom: 30px;
    color: var(--color-border);
}

.project-card p {
    font-family: var(--font-body);
    font-size: 1.8rem;
    line-height: 1.6;
    color: var(--color-text);
    margin-bottom: 12px;
    transition: transform 0.3s ease;
}

.project-card p:hover {
    transform: scale(1.05);
    color: var(--color-accent-light);
}

